---
import * as styles from "./styles";
import Link from "@/components/ui/link/index.astro";
import Icon from "@/components/ui/icon/index.astro";

type Props = {
	title: string;
	description: string;
	slug: string;
};

const { title, description, slug } = Astro.props;
---

<Link href={`/project/${slug}`} isText={false}>
	<div class={styles.container}>
		<div class={styles.visual}></div>

		<div>
			<div class={styles.header}>
				<h3>{title}</h3>
				<Icon name="Plus" size="xl" stroke-width="1" />
			</div>

			<p class={styles.description}>{description}</p>
		</div>
	</div>
</Link>
