---
import * as styles from "./styles";
import Link from "@/components/ui/link/index.astro";
import Icon from "@/components/ui/icon/index.astro";
import { Plus } from "lucide";

const { title, description, slug } = Astro.props;
---

<Link href={`/project/${slug}`}>
	<div class={styles.container}>
		<div class={styles.backdrop}></div>

		<div>
			<div class={styles.header}>
				<h1>{title}</h1>
				<Icon icon={Plus} width="28" height="28" stroke-width="1" />
			</div>

			<p>{description}</p>
		</div>
	</div>
</Link>
