---
import * as styles from "./styles";
import { Image } from "astro:assets";
import type { Visual } from "@/types/visual";

type Props = {
	visuals: Visual[];
};

const { visuals } = Astro.props;
---

<div class={styles.container}>
	<div class={styles.visuals}>
		{
			visuals.map(({ src, alt, width, height }) => (
				<Image
					src={src}
					alt={alt}
					width={width}
					height={height}
					draggable={false}
					class={styles.visual}
				/>
			))
		}
	</div>
</div>
