---
import * as styles from "./styles";
import { Image } from "astro:assets";

type Props = {
	visuals: {
		src: string;
		alt: string;
		width: number;
		height: number;
	}[];
};

const { visuals } = Astro.props;
---

<div class={styles.container}>
	{
		visuals.map(({ src, alt, width, height }) => (
			<Image
				src={src}
				alt={alt}
				width={width}
				height={height}
				draggable={false}
				class={styles.visual}
			/>
		))
	}
</div>
