---
import * as styles from "./styles";
import { Image } from "astro:assets";

type Props = {
	visuals: { src: ImageMetadata; alt: string }[];
};

const { visuals } = Astro.props;
---

<div class={styles.container}>
	<div class={styles.visuals}>
		{
			visuals.map(({ src, alt }) => (
				<Image src={src} alt={alt} draggable={false} class={styles.visual} />
			))
		}
	</div>
</div>
