---
import { Image } from "astro:assets";
import design from "@/images/design.png";
import * as styles from "./styles";
---

<div class={styles.container}>
	<div class={styles.header}>
		<h1 class={styles.title}>Hi, I'm Victorien,</h1>
		<h2 class={styles.subtitle}>a software engineering student.</h2>
	</div>

	<div>
		<Image
			src={design}
			alt="An orange circle covered by a rectangle fluted glass."
			loading="eager"
			draggable={false}
		/>
	</div>
</div>
