---
import { section } from "./recipe";
import type { RecipeVariantProps } from "@styled-system/types";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"div"> &
	RecipeVariantProps<typeof section> & {
		title: string;
		subtitle?: string;
	};

const { title, subtitle, variant, ...props } = Astro.props;

const styles = section({ variant });
---

<div class={styles.container} {...props}>
	<div class={styles.section}>
		<h1 class={styles.title}>{title}</h1>
		{subtitle && <h2 class={styles.subtitle}>{subtitle}</h2>}

		<slot />
	</div>
</div>
