---
import BaseLayout from "@/layouts/base.astro";
import ProjectHeader from "@/components/project/header/index.astro";
import ProjectVisuals from "@/components/project/visuals/index.astro";
import ProjectDetails from "@/components/project/details/index.astro";
import { projects } from "@/components/sections/projects/content.ts";
import { stack } from "@styled-system/patterns";
import { css } from "@styled-system/css";

export function getStaticPaths() {
	return projects.map((project) => ({ params: { slug: project.slug } }));
}

const { slug } = Astro.params;

const project = {
	title: "Movie Network",
	summary: "A social network for movie lovers",
	publishedOn: new Date("2023-11-15"),
	visuals: [
		{ src: "https://tinyurl.com/5b6ka8jd", alt: "1", width: 100, height: 100 },
		{ src: "https://tinyurl.com/7rmccdn5", alt: "2", width: 100, height: 100 },
		{ src: "https://tinyurl.com/59jxz9uu", alt: "3", width: 100, height: 100 },
		{ src: "https://tinyurl.com/59jxz9uu", alt: "3", width: 100, height: 100 },
	],
	technologies: ["React", "TypeScript", "GraphQL", "Node.js", "PostgreSQL"],
	description: `
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod
		lectus ut magna tincidunt, id ultricies velit ultricies. Nulla facilisi.
		Phasellus euismod, nisl eget ultricies ultricies, nisl nisl ultricies
		quam, vitae ultricies nisl nisl nec nisl. Nulla facilisi. Phasellus
		euismod, nisl eget ultricies ultricies, nisl nisl ultricies quam, vitae
	`,
};
---

<BaseLayout>
	<div
		class={css({
			px: { base: "8", sm: "16", md: "24" },
			py: { base: "16", sm: "20", md: "24" },
		})}
	>
		<div
			class={stack({
				maxW: "4xl",
				mx: "auto",
				gap: ["8", "10", "12"],
			})}
		>
			<ProjectHeader
				title={project.title}
				summary={project.summary}
				publishedOn={project.publishedOn}
			/>
			<ProjectVisuals visuals={project.visuals} />
			<ProjectDetails
				technologies={project.technologies}
				description={project.description}
			/>
		</div>
	</div>
</BaseLayout>
