---
import * as styles from "./styles";
import { pageLinks, socialLinks } from "./content";
import Logo from "@/components/ui/logo/index.astro";
import Link from "@/components/ui/link/index.astro";
import Button from "@/components/ui/button/index.astro";
import IconButton from "@/components/ui/icon-button/index.astro";
---

<nav class={styles.container}>
	<div class={styles.containerBg}></div>

	<div>
		<Logo size="8" withLink />
	</div>

	<div class={styles.pageLinks}>
		{
			pageLinks.map(({ label, href }) => (
				<Link href={href}>
					<Button variant="ghost" tabindex={-1}>
						{label}
					</Button>
				</Link>
			))
		}
	</div>

	<div class={styles.socialLinks}>
		{
			socialLinks.map(({ icon, href }) => (
				<Link href={href} target="_blank" rel="noreferrer noopener">
					<IconButton name={icon} variant="ghost" tabindex={-1} />
				</Link>
			))
		}
	</div>
</nav>
