---
import * as styles from "./styles";
import Logo from "@/components/ui/logo/index.astro";
import Link from "@/components/ui/link/index.astro";
import Button from "@/components/ui/button/index.astro";
import IconButton from "@/components/ui/icon-button/index.astro";
import Icon from "@/components/ui/icon/index.astro";
import { pageLinks, socialLinks } from "@/utils/dictionary";
---

<nav class={styles.container}>
	<div class={styles.navbar}>
		<div class={styles.logo}>
			<Link href="/#" isText={false}>
				<Logo size="7" />
			</Link>
		</div>

		<div class={styles.pageLinks}>
			{
				pageLinks.map(({ label, href, isExternal }) => (
					<Link href={href} isExternal={isExternal} isText={false}>
						<Button variant="ghost" tabindex={-1}>
							{label}
						</Button>
					</Link>
				))
			}
		</div>

		<div class={styles.socialLinks}>
			{
				socialLinks.map(({ href, icon, isExternal }) => (
					<Link href={href} isExternal={isExternal} isText={false}>
						<IconButton name={icon} variant="ghost" tabindex={-1} />
					</Link>
				))
			}
		</div>

		<div id="menu-trigger" class={styles.menuTrigger}>
			<Icon name="Menu" size="xl" stroke-width="1.25" />
		</div>
	</div>

	<div id="menu" class={styles.menu}>
		{
			pageLinks.map(({ label, href, isExternal }) => (
				<Link href={href} isExternal={isExternal}>
					<span class={styles.menuItem}>{label}</span>
				</Link>
			))
		}

		<div class={styles.menuBg}></div>
	</div>

	<div class={styles.containerBg}></div>
</nav>

<script>
	function initMenu() {
		const menu = document.getElementById("menu");
		const menuTrigger = document.getElementById("menu-trigger");

		if (menu && menuTrigger) {
			const toggleMenu = () => menu.classList.toggle("active");
			const closeMenu = () => menu.classList.remove("active");

			menuTrigger.addEventListener("click", toggleMenu);
			menu.addEventListener("click", closeMenu);

			return () => {
				menuTrigger.removeEventListener("click", toggleMenu);
				menu.removeEventListener("click", closeMenu);
			};
		}
	}

	initMenu();
</script>

<style>
	.active {
		display: flex;
	}
</style>
