---
import * as styles from "./styles";
import Logo from "@/components/ui/logo/index.astro";
import Link from "@/components/ui/link/index.astro";
import Button from "@/components/ui/button/index.astro";
import IconButton from "@/components/ui/icon-button/index.astro";
import { pageLinks, socialLinks } from "@/utils/dictionary";
---

<nav class={styles.container}>
	<div class={styles.containerBg}></div>

	<div class={styles.logo}>
		<Link href="/#" isText={false}>
			<Logo size="8" />
		</Link>
	</div>

	<div class={styles.pageLinks}>
		{
			pageLinks.map(({ label, href, isExternal }) => (
				<Link href={href} isExternal={isExternal} isText={false}>
					<Button variant="ghost" tabindex={-1}>
						{label}
					</Button>
				</Link>
			))
		}
	</div>

	<div class={styles.socialLinks}>
		{
			socialLinks.map(({ href, icon, isExternal }) => (
				<Link href={href} isExternal={isExternal} isText={false}>
					<IconButton name={icon} variant="ghost" tabindex={-1} />
				</Link>
			))
		}
	</div>
</nav>
