---
import { Image } from "astro:assets";
import * as styles from "./styles";

const { title, period, description, logo } = Astro.props;
---

<div class={styles.container}>
	<div class={styles.card}>
		<div>
			<Image
				src={logo}
				alt="Astro Logo"
				width="96"
				height="96"
				draggable={false}
			/>
		</div>

		<div class={styles.content}>
			<p class={styles.date}>{period}</p>

			<h1>{title}</h1>

			<p class={styles.description}>
				{description}
			</p>
		</div>
	</div>
</div>
