---
import { Image } from "astro:assets";
import * as styles from "./styles";

type Props = {
	title: string;
	period: string;
	description: string;
	logo: {
		src: string;
		alt: string;
		width: number;
		height: number;
	};
};

const { title, period, description, logo } = Astro.props;
const { src, alt, width, height } = logo;
---

<div class={styles.container}>
	<div class={styles.card}>
		<div>
			<Image
				src={src}
				alt={alt}
				width={width}
				height={height}
				draggable={false}
				class={styles.visual}
			/>
		</div>

		<div class={styles.content}>
			<p class={styles.date}>{period}</p>

			<h3 class={styles.title}>{title}</h3>

			<p class={styles.description}>
				{description}
			</p>
		</div>
	</div>
</div>
