---
import * as styles from "./styles";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
	experience: CollectionEntry<"experiences">;
};

const { experience } = Astro.props;
const { title, period, description, logo } = experience.data;
---

<div class={styles.container}>
	<div class={styles.card}>
		<Image
			src={logo}
			alt={`Logo of ${title}.`}
			draggable={false}
			class={styles.logo}
		/>

		<div class={styles.content}>
			<p class={styles.date}>{period}</p>

			<h3 class={styles.title}>{title}</h3>

			<p class={styles.description}>
				{description}
			</p>
		</div>
	</div>
</div>
