---
import * as styles from "./styles";
import Link from "@/components/ui/link/index.astro";
import Separator from "@/components/ui/separator/index.astro";
import { pageLinks, socialLinks } from "@/utils/dictionary";
---

<footer class={styles.container}>
	<div class={styles.footer}>
		<div class={styles.linkGroups}>
			{
				[pageLinks, socialLinks].map((linksGroup) => (
					<div class={styles.linkGroup}>
						{linksGroup.map(({ label, href, isExternal }) => (
							<Link href={href} isExternal={isExternal}>
								{label}
							</Link>
						))}
					</div>
				))
			}
		</div>

		<Separator />

		<p>
			© {new Date().getFullYear()} Victorien Druon - All rights reserved
		</p>
	</div>
</footer>
