---
import * as styles from "./styles";
import Section from "@/components/ui/section/index.astro";
---

<Section title="about me" variant="secondary" id="about">
	<p class={styles.paragraph}>
		my name is <span class={styles.highlight}>Victorien Druon</span> and i'm a 19
		years old French software engineering student.
		<br />

		i'm passionate about <span class={styles.highlight}>building</span> products
		with a great deal of <span class={styles.highlight}>care and love</span>.
		<br />

		i love <span class={styles.highlight}>problem-solving</span> and challenges,
		and i'm always looking for new things to <span class={styles.highlight}
			>learn</span
		>.
		<br />

		at the end of the day, i just want to have a <span class={styles.highlight}
			>positive impact</span
		> around me.
	</p>
</Section>
